// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #82D173;
$gray: #4C5454;
$light-gray: #F4F4F4;
$dark-gray: #0A0909;


$blue-dark: #0B2545;
$blue-regular: #13315C;
$dialog-title-color: #134074;
$blue-light: rgba(19, 64, 116, 0.9);

$green2: #13C682;
$green3:#5DC79E;
$green4: #15D37D;
$almost-white: #EEF4ED;
$almost-black: #222222;
$my-white: #FCFCFC;
$olive:lighten(#93A8AC, 20%);
$olive-dark: #93A8AC;
