.worker-table {
    margin: 40px auto;
    padding: 40px 0;
    width: 100%;
}

.workers .index .button-esante {
    float: right;
}

.worker-index {
    margin: 0 40px;
    .pagination > .active > a {
        background-color: $primary !important;
        border-color: $primary !important;
        color: white;
    }
    .pagination > li > a {
        color: $primary-dark;
    }
    .pagination > .disabled > a {
        color: $placeholder-gray;
    }
}

.worker-table table > tbody > tr > td {
    text-align: left;
}

.workers-list {
    margin-top: 50px;
}

.worker-table-columns-title {
    color: $my-black;
}
.worker-table-content {
    color: $gray-dark;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid $border-gray;
    text-align: left;
    padding: 8px;
}

.table-worker-header {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    .search-worker {
    min-width: 300px;
    border: none !important;
    border-bottom: 1px solid $border-gray !important;
    }
    input[type="text"]::placeholder {
      color: $placeholder-gray !important;
    }
}



.actions-workers {
    display:flex;
    justify-content: space-around;
    a {
        color: $gray-dark;
        &:hover {
            color: $primary-dark;
        }
    }
}

