.worker-table {
    margin: 40px auto;
    padding: 40px 0;
    width: 100%;
}

.workers-index .button-esante {
    float: right;
}

.worker-table table > tbody > tr > td {
    text-align: left;
}

.workers-list {
    margin-top: 50px;
}
