// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.height-page {
  min-height: calc(100vh - 60px);
  margin-top: 60px;
}

a {
    text-decoration: none;

    color: $dark-gray;
    &:hover {
        text-decoration:none;
        color: black;
    }
}

body {
    color: black;
}
