<div class="footer hidden-xs hidden-sm">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6">

      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="text-footer-right">
          <p>Coded with love</p>
        </div>
      </div>
    </div>
  </div>
</div>


