<div class="navbar-esante navbar-esante-fixed">
  <div class="navbar-center">
    <div class="link-button">
      <%= link_to 'PLANNING', shifts_path, class: "link-navbar" %>
    </div>
    <div class="link-button">
      <%= link_to 'WORKERS', workers_path, class: 'link-navbar' %>
    </div>

  </div>
</div>
