<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-title">
                <h1>Editing Shift</h1>

                <%= render 'form', shift: @shift %>

            </div>
        </div>
    </div>
</div>
