.button-esante {
    min-width: 100px;
    background-color: $green4;
    border-radius: 6px;
    color: $my-white;
    border: none;
    &:hover {
        color: white;
        background-color: $green2;
    }
}

.calendar-esante .button-esante {
    float: right;
}

.button-esante-default {
    min-width: 100px;
    background-color: $light-gray;
    border: none;
    border-radius: 6px;
    &:hover {
        background-color: darken($light-gray, 10%);
    }
}
