.calendar-esante {
    position: relative;
}

.calendar-title {
    font-size: 24px;
    font-weight: bolder;
    color: $my-black;
}

.simple-calendar {
    margin: 50px 0;
    table > tbody > tr {
        min-height: 100px;
    }
    table {
        min-height: 500px;
    }
}

.calendar-heading {
    text-align: center;
    margin: 30px 0;
    a {
        font-size: 14px;
        color: $gray-dark;
    }
    a:hover {
        text-decoration:none;
        color: $my-black;
    }
}
.simple-calendar table > tbody > tr > td {
    min-height: 100px !important;

}
.simple-calendar table thead tr th {
    text-align: center;
}

.day {
    position: relative;
    text-align: right;
    max-width: 170px !important;
    width: 14%;
}

.calendar-heading > * {
    padding: 5px;
}

.wday-1, .wday-2, .wday-3, .wday-4, .wday-5 {
    background-color: white;
}

.wday-0, .wday-6, .prev-month {
    background-color: $light-gray;
}
