.footer {
  background-color: rgba(0,0,0,0.8);
  padding: 30px;
  color: white;
}

.text-footer-right {
  text-align: right;
  font-weight: lighter;
}

.footer.mobile {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 9;
  width: 100%;
  color: #666666;

    .navbar-wagon-dropdown-menu:before {
    top: 89px;
    background-color: white;
    transform: rotate(45deg);
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    border-left: none;
    border-top: none;
  }

  .dropdown-menu {
    top: none;
    max-width: 300px;
    margin-bottom: 8px;
  }

  .dropdown-menu a {
    white-space: normal;
  }
}
