.form {
    margin: 25px;
    label {
        color: $placeholder-gray;
    }
}


.form-title {
    margin: 40px 0 0 25px;
    padding-bottom: 25px;
    h1 {
        margin: 0;
        font-size: 32px
    }
}

.form-actions {
    margin: 15px 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-group {
    margin-bottom: 35px;
}

.selectize {
    margin-bottom: 35px
}

.form-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid $border-gray !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    flex: 0 0 20%;
    border-radius: 0px !important;
    -webkit-appearance: none;
    .form-control {
        border-radius: 0px !important;
        -webkit-appearance: none;
        min-width: 100px;
        color: $gray-dark;
    }

}

label {
    font-weight: lighter;
}

input[type="text"]::placeholder {
  color: $placeholder-gray !important;
}

abbr {
    display: none;
}
