.form {
    margin: 25px 0;
}


.form-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px 0;
    h1 {
        margin: 0;
        font-size: 32px
    }
}
