.selectize-dropdown-content .active {
    color: white;
    background-color: $primary-hover !important;
    background-image: none !important;
    background-repeat: none !important;
}

.selectize-control.single .selectize-input {
    background-color: transparent !important;
    background-image: none !important;
    background-repeat: none !important;
}

.selectize-input.input-active, .selectize-input.input-active:hover, .focus {
    border-color: none !important;
    box-shadow: none !important;
}

.selectize-control .selectize-input {
    color: $gray-dark;
    border: none !important;
    border-bottom: 1px solid $border-gray !important;
    border-radius: 0;
    font-size: 18px !important;
}

.selectize-dropdown .selectize-dropdown-content {
    font-size: 18px !important;
    color: $gray-dark !important;
    box-shadow: none !important;
    border: 1px solid $border-gray !important;
}
