.selectize-dropdown-content .active {
    color: white;
    background-color: $blue-light !important;
    background-image: none !important;
    background-repeat: none !important;
}

.selectize-control.single .selectize-input {
    background-color: transparent !important;
    background-image: none !important;
    background-repeat: none !important;
}

